/* reset */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, input, select, textarea, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit;
font-size:100%; font-family:inherit; vertical-align:baseline; line-height: 1;}
:focus {outline:0;outline-color:transparent;}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
.clear {clear:both;height:0;overflow:hidden;}

body {
    font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, serif;
}

.ha {
    margin: 2em auto;
}
.ha, .ha div {
    width: 728px;
    min-height: 90px;
}
@media screen and (max-width: 488px) {
    .ha, .ha div {
        width: 100%;
        min-height: 250px;
    }
}

/* Buttons */

.btn--green {
    background-color: #3cb879;
}

.btn:focus {
    color: #fff;
}

.btn--green:active {
    box-shadow: 0px -4px 7px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn--green.btn-hover-shadow:hover {
    background-color: #3cb879;
}
.btn--green.btn-hover-shadow:hover:after {
    box-shadow: 9px 9px 9px 0 rgba(70, 214, 141, 0.2);
}
.btn--green.btn-hover-shadow:active {
    box-shadow: 0px -4px 7px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn-medium {
    padding: 12px 20px 13px 20px;
    font-size: 13px;
}
.btn-hover-shadow:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
    position: absolute;
    transition: all .3s ease;
}
.btn {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Varela Round", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    border-radius: 0 50px 50px 0;
    position: relative;
    transition: all .3s ease;
    text-align: center;
}
.btn + .btn {
    margin-left: 30px;
}
.btn img {
    position: absolute;
    left: 10px;
    top: 10px;
}
.btn i {
    margin-left: 10px;
    font-size: 12px;
}
.btn:after {
    display: block;
    width: 100%;
    height: 100%;
}
.semicircle {
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    overflow: hidden;
}
.semicircle:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
}

/* Input */

.input-round {
    border-radius: 50px 0 0 50px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    padding: 12px 20px 13px 20px;
    margin-right: -5px;
    width: calc(100% - 95px);
    line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:none;
}

/* Remove focused element outline */

input:focus, .btn:focus {
    outline: none !important;
}



/* Logo */

.logo .logo-container {
    display: inline-block;
}
.logo {
      width: 100%;
      overflow: hidden;
      margin-top: 20px;
 }
.logo img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.logo .logo-text {
    float: left;
    margin-top: 14px;
    line-height: 1;
}
.logo .logo-text .logo-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #7aadb8;
    height: 1em;
    font-size: 4.4em;
    letter-spacing: 0;
}

.logo .logo-text .logo-sub-title {
    text-transform: uppercase;
    margin-left: 0.48em;
    letter-spacing: 0.48em;
    font-size: 0.85em;
}

@media (max-width: 768px) {
    .logo {
          margin-top: 15px;
          margin-bottom: 15px;
     }
    .logo img {
        width: 75px;
        height: 75px;
        margin-right: 12px;
    }
    .logo .logo-text {
        margin-top: 12px;
    }
    .logo .logo-text .logo-title {
       font-size: 2.95em;
    }
    .logo .logo-text .logo-sub-title {
        letter-spacing: 0.12em;
        margin-left: 0.25em;
    }
}

@media (max-width: 400px) {
    .logo {
          margin-top: 10px;
     }
    .logo img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .logo .logo-text {
        margin-top: 10px;
    }
    .logo .logo-text .logo-title {
       font-size: 2.36em;
    }
    .logo .logo-text .logo-sub-title {
        letter-spacing: 0;
        font-size: 0.82em;
        margin-left: 0.12em;
    }
}

/* Result table */
.result {
    display: none;
}

#not-found {
    display : none;
}

.heading-text, #about {
    font-size: 16px !important;
    line-height: 1.5;
    color: #3d3c3d;
}

@media (max-width: 1000px) {
    #about {
        width: calc(100% - 20px);
        margin: 0px 10px 20px 10px;
    }
}

#map {
    float: left;
    width: calc(50% - 15px);
    height: 260px;
    margin-left: 15px;
    border: 1px solid rgb(207, 218, 207);
    max-width: 100%;
    overflow: hidden;
}

#map.no-script {
    display: none;
}

.result-table {
    float: left;
    width: calc(50% - 15px);
    margin-right: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    max-width: 100%;
}

.result-table.no-script {
    width: calc(100% - 20px);
}

@media (max-width: 1000px) {
    .result-table {
        width: calc(100% - 20px);
        margin: 0px 10px 20px 10px;
    }

    #map {
        width: calc(100% - 20px);
        margin: 0 10px;
    }
}


#about {
    border-top: 2px solid #ddd;
    padding: 1em 0;
}
#about p {
    font-size: 16px;
    line-height: 1.5;
    margin: 16px 0;
}
#about h2 {
    font-size: 22px;
    margin: 22px 0;
}

/* alignment classes */

.logo-sub-title:after, .logo-title:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.rubber-container {
    width: 100%;
}

.central-column {
    width: 100%;
    position: relative;
    min-height: 1px;
    max-width: 1000px;
    margin: 0 auto;
}
.with-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 767px) {
    .central-column {
        width: 100%;
    }
  .hidden-xs {
    display: none !important;
  }
}


.top-container {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.top-row-container {
    display: table-row;
}

.top-row-cell {
    display: table-cell;
    vertical-align: bottom;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Bootstrap table */

.table {
  max-width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

th {
  text-align: left;
}

#footer {
    text-align: center;
    margin: 30px 0 20px 0;
}
#copy {
    color: rgb(121, 121, 121);
    font-size: 0.9em;
    margin-top: 20px;
}
